# Ignorer les dossiers de dépendances
/vendor
/node_modules

# Ignorer les fichiers de configuration locaux
/.env.local
/.env.*.local

# Ignorer les fichiers temporaires et générés
/.idea
/.git
/.gitignore
/.vscode
*.log
*.md

# Ignorer les dossiers de tests et les fichiers inutiles
/tests
/var
/public/storage
/public/cache
/storage/*.key
